/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 3, 2019, 8:34:30 AM
    Author     : SE130162
*/


div.full-Card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    background-color: rgba(242,242,242,0.7);
    padding:55px 0px;
    margin: 30px 0px 0px;

}
div.full-Card-Content{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding:-3px 55px;

}
h2.full-Card {
    font-size: 32px;
    line-height: 1.125;
    font-weight: lighter;
    letter-spacing: 0.0002em;
    text-align: center;
    font-family: sans-serif;
}
h3.full-Card {
    font-size: 64px;
    line-height: 1.0625;
    font-weight: lighter;
    letter-spacing: -.01em;
    text-align: center;
    font-family: sans-serif;
    margin: 10px 0;
}
p.full-Card{
    font-size: 21px;
    line-height: 1.38105;
    font-weight: 400;
    letter-spacing: .011em;
    text-align: center;
    font-family: sans-serif;
}

ul.full-Card{
    text-align: center;
    text-transform: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
}
.full-Card-Content h2.full-Card {
    margin-left: 100px;
    margin-right: 100px;
    font-family: sans-serif;
}
.full-Card-Content h3.full-Card {
    font-family: sans-serif;
    margin-left: 100px;
    margin-right: 100px;

}
figure.full-Card2{
    background-color: rgb(250,250,250);
    ;
    width: 1232px;
    height: 407px;
    background-size: cover;
    background-repeat: no-repeat;
}
figure.full-Card3{

    background-size: cover;

    width: 1256px;
    height: 512px;
    background-repeat: no-repeat;
}
figure.full-Card4{
    width: 1380px;
    height: 665px;
    background-size: 1380px 665px;
    background-repeat: no-repeat;

    left: 0px;
    position: relative;
    z-index: 2;
    margin: 0px;
}
figure.full-Card5{

    background-size: cover;

    width: 960px;
    height: 524px;
    background-repeat: no-repeat;
}
figure.full-Card6{
    background-size: cover;
    width: 980px;
    height: 726px;
    background-repeat: no-repeat;
}
figure.full-Card7{
    background-size: cover;
    width: 1374px;
    height: 493px;
    background-repeat: no-repeat;
}

figure.full-Card8{
    background-size: cover;

    width: 100% ;
    height: 654px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;

}
figure.full-Card8 div h2{
    padding-top: 217px;
    color: #fff;
    font-size: 24px;
    line-height: 1.16667;
    text-align: center;
    font-family: sans-serif;
}
figure.full-Card8 div h3{
    color: #fff;
    font-size: 48px;
    line-height: 1.08365;
    text-align: center;
    font-family: sans-serif;
}
figure.full-Card8 div p{
    color: #fff;
    font-size: 21px;
    line-height: 1.08365;
    text-align: center;
    font-family: sans-serif;
}
.mediumCard{
    font-size:24px;
    text-align: center;

}
.smallCard{
    font-size:21px;
    text-align: center;
}
.full-Card li+li{
    margin-top: .4em;
}